* {
  font-family: "Work Sans", sans-serif;
}
.icon {
  height: 10%;
  width: 20%;
}

/* nav section */

.nav_container {
  justify-content: center;
}

.nav_title {
  font-size: 1.8rem;
  display: flex;
  gap: 20px;
  align-items: center;
}

.r_nav {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 32px;
}

.nav_title img {
  width: 86.041px;
  height: 40px;
}
.nav {
  font-size: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 76%;
  margin: 0px auto;
}

.nav span {
  color: #ff42a5;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav_follow_container {
  display: flex;
  border: 2px solid white;
  align-items: center;
  gap: 25px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  justify-content: center;
}
.nav_follow p{
  color: black;
}

.nav_follow img {
  width: 15%;
}
.nav_follow {
  text-align: center;
  width: 30%;
}

/* banner section */

.banner {
  display: flex;
}

.banner_container {
  justify-content: center;
}

.banner_content {
  align-items: center;
  text-align: center;
}
.banner_content h1 {
  font-size: 3rem;
  font-weight: 600px;
  margin-top: 148px;
}

.banner_content h1 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
}

.banner_content {
  background-image: url(./images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.banner_content>p {
  font-size: 1.125rem;
  font-weight: 500;
  color: black;
  text-align: left;
}

.banner_button {
  color: #0b0223;
  margin-top: 60px;
  justify-content: center;
  display: flex;
  gap: 24px;
  margin-bottom: 148px;
  

}

.sign_in {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  font-size: 1.25rem;
  font-weight: 600;
}

.go_rough {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 48px;
  background: #4ec5f7;
  font-size: 1.25rem;
  font-weight: 600;
}

.banner_image {
  align-content: center;
}

/* omline games */

.online_blocks:hover{
  overl
}

.online_games {
  margin-top: 120px;
  text-align: center;

}
.online_content {
  margin-bottom: 50px;
}
.online_content h1 {
  font-size: 3rem;
  font-weight: 700;
}
.online_content h1 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.online_content p {
  font-size: 1.125rem;
  font-weight: 400;
  color: #534c64;
}
.online_blocks {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin: 0 auto;
  width: 76%;
  margin-bottom: 120px;
}

/* play games */
.play_games_container{
  display: flex;
  justify-content: center;
  
}
.play_games {
  justify-content: center;
  width: 50%;
  gap:250px;
  display: flex;
  align-items: center;
  
 
}

.play_games_image{

}
.play_games_content{
  text-align: left;

}

.play_games_content h1 {
  
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
}



.play_games_content p{
  font-size: 1.125rem;
  font-weight: 400;
  color: #534c64;
  width: 100%;
}
.play_games_content h1 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.b_pic{
  position: relative;
  bottom: 190px;
  left:545px
}

/* category section */
.category-section{
  justify-content: center;
  
  /* border: 2px solid red; */
}

.category_container button{
  border-radius: 50px;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.25rem;
  font-weight: 600;
  
}

.category_container button:hover{

  color:#ff42a5;
  border:3px solid #ff42a5

}
.category_container{

  width: 50%;
  display: grid;
  gap:25px;
  text-align: center;
  align-items: center;
  margin: auto;
  grid-template-columns: repeat(5,1fr);
  
}
.category_container2 button{
  border-radius: 50px;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.25rem;
  font-weight: 600;
  
}

.category_container2 button:hover{

  color:#ff42a5;
  border:3px solid #ff42a5

}
.category_container2{
  width: 45%;
  display: grid;
  gap:25px;
  text-align: center;
  align-items: center;
  margin: auto;
  grid-template-columns: repeat(4,1fr);
  padding-top: 80px;
  padding-bottom: 80px;
  
}

/* footer */

footer {
  background-color: #0b0223;
  color: white;
}

.f_title {
  padding-top: 120px;
  text-align: center;
  font-size: 2.8rem;
}

.f_title span{
  color: #ff42a5;
}

.footer_nav{
  display: flex;
  justify-content: center;
  gap: 60px;

  margin: 55px
  0px;

}

.footer_nav li{
  list-style: none;
  font-size: 1.125rem;
  font-weight: 600;
  
}

.footer_bottom ul,p{
  display: flex;
  justify-content: center;
  gap: 60px;
}

.footer_bottom li,p{
    list-style: none;
    
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);;
}

.footer_bottom p{
  padding-top: 28px ;
  padding-bottom: 120px;
  
}

.social_connection ul{
  display: flex;
  justify-content: center;
  gap: 40px;

}

.social_connection li{
  list-style: none;
  padding: 30px 0px;
}




@media screen and (max-width: 425px) {
  main {
    width: 425px;
  }

  .nav_container {
    width: 100%;
  }
  .nav {
    flex-direction: column;
  }
  .r_nav {
    flex-direction: column;
  }
  .nav_follow {
    width: 100%;
  }

  .banner {
    flex-direction: column;
  }
  .banner_content {
    background-size: cover;
    width: 100%;
  }
  .banner_image img {
    width: 100%;
  }
  .online_blocks{
    flex-direction: column;
  }

  .play_games{
    flex-direction: column;
  }

  .play_games_image{
    margin: auto;
    padding: 5px;
  }
  .u_pic{
    max-width: 150%;
    position: relative;
    right: 50px;
  }
  .br_pic{
    max-width: 50%;
  }
  .b_pic{
  position: relative;
  bottom: 80px;
  left:200px;
}

.category_container {
    width: 50%;
    display: grid;
    grid-auto-flow: column;
}

}
