* {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* nav style */

.nav_container {
  padding-left: 245px;
  width: 1920px;
  height: 130px;
}

.nav h1 {
  font-size: 2.8rem;
}

.nav h1 span {
  color: #f948b2;
}

.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.nav ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav ul li {
  list-style: none;
  font-size: 1.8rem;
  text-decoration: none;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: center;
}

.banner_content h3 {
  margin-top: 150;
  font-size: 3rem;
  font-weight: 600;
}

.banner_content > h3 > span {
  font-size: 6rem;
  font-style: normal;
  font-weight: 800;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner_content {
  padding-top: 150px;
  width: 901px;
  height: 700px;
  background-image: url(./images/Group\ 14.png);
  background-repeat: no-repeat;
}

.banner_content > div {
  padding-left: 245px;
  justify-content: center;
}

.banner_p {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 40px;
  color: rgba(83, 76, 100, 1);
}

.banner_button {
}

.sign_in {
  padding: 21px 40px;
  align-items: flex-start;
  border: none;
  border-radius: 48px;
  font-size: 1.8rem;
  color: white;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  margin-right: 24px;
}

.rough {
  padding: 21px 40px;
  align-items: flex-start;
  border: none;
  border-radius: 48px;
  font-size: 1.8rem;
  color: white;
  background-color: rgba(78, 197, 247, 1);
}
.banner_pic {
  margin-left: 68px;
}

/* GAMER SECTION */

.gamer {
  display: flex;
  justify-content: center;
  gap: 50px;

  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.gamer_pic {
  margin: 55px 0px;
}

.gamer_content {
  text-align: right;
}

.gamer_content h1 {
  margin-top: 95px;
  margin-bottom: 24px;
  font-size: 3rem;
  font-weight: 800;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gamer_content p {
  color: #534c64;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.gamer_content button {
  padding: 21px 40px;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 21px 40px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}

.purpose {
  color: #534c64;

  font-size: 1.5rem;

  font-weight: 500;
  line-height: 45px;
  margin-bottom: 95px;
}

.purpose span {
  color: #534c64;
  font-family: Work Sans;
  font-size: 2rem;
  font-weight: 700;
  line-height: 45px;
}

/* online games */

.funny_h {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.funny_h span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.funny_h p {
  color: #534c64;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 50px;
}

.funny_container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.funny_container p {
  width: 340px;
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 120px;
}

/* instantly play */

.instant_play {
  display: flex;
  justify-content: center;
  gap: 250px;
}

.instant_content {
  text-align: right;
  font-size: 2rem;
  font-weight: 700;
}

.instant_content span {
  color: #f948b2;
}

.talk {
  position: relative;
  bottom: 250px;
  left: -175px;
  margin-bottom: 120px;
}

.instant_content p {
  color: #534c64;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
}

/* category */

.key_selector {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 120px 0px;
}

.key_selector button {
  border-radius: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
}

.key_selector button > img {
  padding: 10px 10px;
}
.row p {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding-right: 20px;
  color: #0B0223;
  font-size: 1.25rem;
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: center;
  gap: 37px;
  align-items: center;
  margin-bottom: 28px;
}
/* .l_row p {
  text-align: center;
  padding-right: 20px;
  font-size: 1.25rem;
  font-weight: 600;
}

.l_row {
  display: flex;
  justify-content: center;
  gap: 37px;
  align-items: center;
} */

/* footer */

footer {
  background-color: #0b0223;
  color: white;
}

.f_title {
  padding-top: 120px;
  text-align: center;
}

.f_title span{
  color: #ff42a5;
}

.footer_nav{
  display: flex;
  justify-content: center;
  gap: 60px;

  margin: 55px
  0px;

}

.footer_nav li{
  list-style: none;
  font-size: 1.125rem;
  font-weight: 600;
  
}

.footer_bottom ul,p{
  display: flex;
  justify-content: center;
  gap: 60px;
}

.footer_bottom li,p{
    list-style: none;
    
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);;
}

.footer_bottom p{
  padding-top: 28px ;
  padding-bottom: 120px;
  
}

.social_connection ul{
  display: flex;
  justify-content: center;
  gap: 40px;

}

.social_connection li{
  list-style: none;
  padding: 30px 0px;
}




